<div>
  <p><strong>Description:</strong> {{ content.body }}</p>
  <p><strong>Category:</strong> {{ node.category }}</p>
  <p><strong>Item Number:</strong> {{ node.itc_number }}</p>
  <p><strong>Deadline:</strong> {{ node.deadline }}</p>
  {% if file_link %}
    <p><strong>File:</strong> {{ file_link }}</p>
  {% endif %}
</div>
