{{ attach_library("jcc_storybook/HeroHangover") }}
{{ attach_library("jcc_storybook/Section") }}
{{ attach_library("jcc_storybook/Brow") }}
{{ attach_library("jcc_storybook/Button") }}

{% set heading_aria_label %}
  aria-label="Invitation to Comment for case {{ node.title.value }}"
{% endset %}
{% include "@molecules/HeroHangover/HeroHangover.twig" with {
  background: 'striped-base-dark-x',
  brow: {
    variant: "default",
    part_one: node.itc_number,
  },
  heading: label,
  media: false,
  attributes: create_attribute()
} %}

{% set content %}
  <div class="stack">
    <h2>Description</h2>
    {{ content.body.0|render }}
    {% if node.deadline %}
      <p><strong>Deadline:</strong> {{ node.deadline }}</p>
    {% endif %}
    {% if node.category %}
      <p><strong>Category:</strong> {{ node.category }}</p>
    {% endif %}
    {% if file_link %}
      <p><strong>File:</strong> {{ file_link }}</p>
    {% endif %}
  </div>
{% endset %}

{% include "@organisms/Section/Section.twig" with {
  variant: 'default',
  sub_component_data: {
    content,
  },
  attributes: create_attribute()
} %}
