{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{%
  set classes = [
    'jcc-appellate-map__map-viewport',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  <div class="jcc-appellate-map__map-viewport__inner">
    {{ map_src }}
  </div>

  <div class="sr-only">
    {% for item in district_info %}
      <details class="district-item"
               name="{{ item.district_id }}"
               data-district-id="{{ item.district_id }}"
               data-district-name="{{ item.district_name }}">
        <summary>{{ item.district_name }}</summary>
        <ul>
          {% for key, county in item.counties %}
            <li>{{ county }}</li>
          {% endfor %}
        </ul>
      </details>
    {% endfor %}
  </div>
</div>


