{{ attach_library("jcc_storybook/ViewResults") }}
{{attach_library("jcc_storybook/FormFields") }}
{{ attach_library("jcc_elevated/legislative-reports") }} 
    
<div class="sidebar">
  <form{{ attributes.addClass('views-exposed-form','legislative-reports')}}>
    {{ children }}
  </form>
</div>  
