{{ attach_library("jcc_storybook/List") }}
{{ attach_library("jcc_elevated/surplus-materials") }}
{{ attach_library("jcc_storybook/Card") }} 
{{ attach_library("jcc_storybook/Section") }}
{{ attach_library("jcc_storybook/HeroHangover") }}
{{ attach_library("jcc_storybook/Footer") }}
{{ attach_library("jcc_storybook/Body") }}
{{attach_library("jcc_jrn_contact/customview") }}

 {% include "@molecules/HeroHangover/HeroHangover.twig" with {
    hangover_hide_compact: false,
    hangover_offset: 22,
    background: 'brown',      
    heading: 'TAJP Status Report',
    news_header: true,    
    text: ''  
    }
  %}  


{% set details %}    
  <div class="stack">
  
  <div>
    <a href="/justices-judges/temporary-assigned-judges" class="back-to-directory">
      <  Back to Assigned Judges
    </a>
  </div>
<div>
<p>An <a href="jj/tajp/documents/TAJPJudgeSearch.xlsx">interactive search tool</a> (Excel file) to help courts identify judges in the program for assignments. The report contains information from all assigned judges in the program with their case type experience and every court they are interested in sitting on assignment. This report will be updated on a regular basis as retired judges join/leave the program or make changes to their information. </p>
</div>

  <label class="usa-sr-only" for="header-search">Search by <b>Name or Email</b></label>  
    <div>{{form|render}}</div>
      <div>
      {% set search_term = form.filter.keyword['#value'] ?? '' %}
        <div  class="staff-table">     
        {% if summary > 0 %}   
         {% if search_term %}
          <span class="results-summary">
            <h2>Results for: {{ search_term }}</h2>
            <p style="font-size: 15px; color: #919191;">
            {{ summary }} Search Results
            </p>
          </span>
        {% endif %}
        {{ table }}
        {% else %}
        <span class="results-summary">
          <h2>Results for: {{ search_term }}</h2>
          <p>No results found</p>
          </span>
        {% endif %}   
    </div>
  </div>
{% endset %}

  <div class="jrn-directory-staff">
  {% include "@organisms/Section/Section.twig" with {
    variant: 'default',
    sub_component_layout: 'with-sidebar grid',
    sidebar_direction: 'row',
    sidebar_width: "60",
    sub_component_data: {
      details
    },
      attributes: create_attribute()
      }
    %}
  </div>
