{{ attach_library("jcc_storybook/List") }}
{{ attach_library("jcc_elevated/surplus-materials") }}
{{ attach_library("jcc_storybook/Card") }} 
{{ attach_library("jcc_storybook/Section") }}
{{ attach_library("jcc_storybook/HeroHangover") }}
{{ attach_library("jcc_storybook/Footer") }}
{{ attach_library("jcc_storybook/Body") }}
{{attach_library("jcc_jrn_contact/court-detailed-page") }}
{{ attach_library("jcc_storybook/List") }}
{{attach_library("jcc_jrn_contact/jcc-court") }}
{{ attach_library("jcc_storybook/Card") }}

{% include "@molecules/HeroHangover/HeroHangover.twig" with {
  hangover_hide_compact: false,
  hangover_offset: 22,
  background: 'red',
  heading: 'Directory: Court Location(s)',
  news_header: true,
  text: ''
} %}

{% set courtAdmin = [] %}
{% for item in cio_data %}
  {% set courtAdmin = courtAdmin|merge([{
    label: "Court Information Officer",
    text: item.fname ~ ' ' ~ item.lname
  }]) %}
{% endfor %}

{% for item in presiding_judge %}
  {% set courtAdmin = courtAdmin|merge([{
    label: "Court of Appeal Presiding Justice",
    text: item.fname ~ ' ' ~ (item.mname ? item.mname ~ ' ' : '') ~ item.lname
  }]) %}
{% endfor %}


{% for item in appeal_exec_officer %}
  {% set courtAdmin = courtAdmin|merge([{
    label: "Court of Appeal - Clerk/Executive officer",
    text: item.fname ~ ' ' ~ (item.mname ? item.mname ~ ' ' : '') ~ item.lname
  }]) %}
{% endfor %}

{% for item in judge_data %}
  {% set courtAdmin = courtAdmin|merge([{
    label: "Superior Court Presiding Judge",
    text: item.fname ~ ' ' ~ (item.mname ? item.mname ~ ' ' : '') ~ item.lname
  }]) %}
{% endfor %}

{% for item in exec_officer_data %}
  {% set courtAdmin = courtAdmin|merge([{
    label: "Superior Court - Court Executive Officer",
    text: item.fname ~ ' ' ~ (item.mname ? item.mname ~ ' ' : '') ~ item.lname
  }]) %}
{% endfor %}

{% set details %}
  <div>
    <div>
      <a href="/directory" class="back-to-directory"><  Back to Directory</a>
    </div>
    <br />
    <div class="courtview">
      <h2>{{ name_and_type }}</h2>
      <h3>Court Administration</h3>
      <br />

      <div class="court-list-wrapper">
        {% include "@molecules/List/List.twig" with {
          heading: '',
          wider_span: "true",
          items: courtAdmin,
          variant: 'none',
          newline: true,
          layout: 'grid'
        } %}
      </div>
      <br /><br />      
      {% if address_data|length > 1 %}     
      <div class="address-dropdown">        
        <select id="address-selector">
          <option value="">-- Select an address --</option>
            {% for address in address_data %}
              <option value="address-{{ loop.index }}">
              {{ address.addr1 }}, {{ address.city }}
              </option>
            {% endfor %}
        </select>
      </div>
      <br /><br />
      {% endif %}

      {# Loop through all addresses #}
      <div class="addresses-wrapper">
        {% for address in address_data %}
          {% set address_text %}
            <div id="address-{{ loop.index }}" class="address-block">
              <h4>
                {{ address.addr1 }}, {{ address.city }}, {{ address.state }} {{ address.zip }}
                {% if loop.first %}<i>(Main Location)</i>{% endif %}
              </h4>
              <div style="display: flex; justify-content: space-between; width: 70%;">
                {% if address.phone %}
                  <div>Phone: {{ '(' ~ address.phone|slice(0, 3) ~ ') ' ~ address.phone|slice(3, 3) ~ '-' ~ address.phone|slice(6) }}</div>
                {% endif %}
                {% if address.fax %}
                  <div>Fax: {{ '(' ~ address.fax|slice(0, 3) ~ ') ' ~ address.fax|slice(3, 3) ~ '-' ~ address.fax|slice(6) }}</div>
                {% endif %}
              </div>
            </div>
          {% endset %}

          {% include "@molecules/Card/Card.twig" with {
            variant: "default",
            clickable_card: false,
            background: 'base-light-xxx',
            media: false,
            icon_data: false,
            heading: '',
            text: address_text|raw,
          } %}
          <br />
        
          {{ address.officer_table|raw }}
        
          <br />
        {% endfor %}
      </div>
    </div>
  </div>
{% endset %}
  <button id="back-to-top" title="Back to top" class="button button--secondary back-to-top" style="display:none;">
    Back to top
  </button>
  <div>
    {% include "@organisms/Section/Section.twig" with {
      variant: 'default',
      sub_component_layout: 'with-sidebar grid',
      sidebar_direction: 'row',
      sidebar_width: "",
      sub_component_data: { details },
      attributes: create_attribute()
    } %}
  </div>
