{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   JavaScript.
 *
 * @see template_preprocess_views_view()
 *
 * @ingroup themeable
 */
#}
{{ attach_library("jcc_storybook/HeroHangover") }}
{{ attach_library("jcc_storybook/InlineForm") }}
{{ attach_library("jcc_storybook/ViewResults") }}
{{ attach_library("jcc_storybook/ResultExcerpt") }}
{{ attach_library("jcc_storybook/Card") }}
{{ attach_library("jcc_storybook/Icon") }}

{%
  set classes = [
  dom_id ? 'js-view-dom-id-' ~ dom_id
]
%}

{% set page_heading %}
  {% if searched_term -%}
    {{ 'Results for '|t }} "{{ searched_term }}"
  {% else -%}
    {{ 'Search page'|t }}
  {% endif %}
{% endset %}

{% if count_summary %}
  {% set header %}
    <div class="cluster">
      <div>{{ count_summary }}</div>
    </div>
  {% endset %}
{% endif %}

<div{{ attributes.addClass(classes) }}>
  {% include "@molecules/HeroHangover/HeroHangover.twig" with {
    heading: page_heading,
    background: 'base-dark-x',
  } %}

  {% set exposed_form %}
    {% include "@molecules/InlineForm/InlineForm.twig" with {
      form: exposed|without('items_per_page')|render,
    } %}
  {% endset %}

  {% set no_results_msg %}
    {% include "@molecules/Card/Card.twig" with {
      variant: "bordered",
      clickable_card: false,
      heading: no_results_heading,
      text: no_results_message,
    } %}
  {% endset %}

  {% set facet_build %}
    {% for facet in facets %}
      {{ facet }}
    {% endfor %}
  {% endset %}

  <div class="box">
  {% include "@organisms/ViewResults/ViewResults.twig" with {
    variant: 'search_results',
    view_name: id,
    view_display: display_id,
    header: header,
    header_sidebar: '',
    header_direction_results: 'sidebar-row',
    form: exposed_form,
    form_in_sidebar: false,
    list_type: 'ol',
    list_type_divider: true,
    rows: processed_rows,
    no_results_msg: no_results_msg,
    sidebar: facet_build,
    sidebar_direction_results: 'sidebar-row',
    pager: pager|render,
    items_per_page: exposed.items_per_page|render,
    footer: '',
    footer_sidebar: '',
    sidebar_direction_footer: 'sidebar-row',
  } %}
  </div>
</div>
