{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{{ attach_library("jcc_storybook/HeroHangover") }}
{{ attach_library("jcc_storybook/ViewResults") }}
{{ attach_library("jcc_storybook/ResultExcerpt") }}
{{ attach_library("jcc_storybook/Pill") }}
{{ attach_library("jcc_storybook/Section") }}
{{ attach_library("jcc_storybook/BlurbBox") }}

 {%
  set classes = [
  dom_id ? 'js-view-dom-id-' ~ dom_id,
]
%}

<div{{ attributes.addClass(classes) }}>
  {% include "@organisms/ViewResults/ViewResults.twig" with {
    variant: 'grouped_view',
    view_name: id,
    view_display: display_id,
    header: '',
    header_sidebar: '',
    header_direction_results: 'sidebar-row',
    form: exposed|render,
    form_in_sidebar: true,
    list_type: 'ul',
    list_type_divider: '',
    rows: grouped_proposals,
    sidebar: '',
    sidebar_direction_results: 'sidebar-row',
    pager: pager|render,
    items_per_page: '',
    footer: '',
    footer_sidebar: '',
    sidebar_direction_footer: 'sidebar-row',
    no_results_msg: empty|render,
  } %}
</div>
