{% for key, topics in results %}
  <h2 style="margin-block-end:0.5rem;">{{ key }}</h2>
  <table style="width:100%; margin-block-end:1.5rem;">
    <tr>
      <th colspan="3">{{ key }}</th>
    </tr>
    <tr>
      <td style="background-color:#F1F1F1;">TITLE</td>
      <td style="background-color:#F1F1F1; width:15%;">MATERIAL</td>
      <td style="background-color:#F1F1F1; width:15%;">AUDIENCE</td>
    </tr>
    {% for topic in topics %}
      <tr>
        <td>{{ topic.title }}</td>
        <td>{% if topic.material %}{{ topic.material }}{% endif %}</td>
        <td>{% if topic.audience %}{{ topic.audience }}{% endif %}</td>
      </tr>
    {% endfor %}
  </table>
{% endfor %}
