{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   JavaScript.
 *
 * @see template_preprocess_views_view()
 *
 * @ingroup themeable
 */
#}
{{ attach_library("jcc_storybook/HeroHangover") }}
{{ attach_library("jcc_storybook/InlineForm") }}
{{ attach_library("jcc_storybook/ResultExcerpt") }}
{{ attach_library("jcc_storybook/ViewResults") }}
{{ attach_library("jcc_storybook/Pill") }}
{{ attach_library("jcc_storybook/Pills") }}

{%
  set classes = [
  dom_id ? 'js-view-dom-id-' ~ dom_id,
]
%}

{% set content_header %}
  <div class="cluster">
    <div>{{ count_summary }}</div>
  </div>
{% endset %}

{% set pills_array = {} %}
{% for key, row in processed_rows %}
  {% if row.raw_pills %}
    {% for pills in row.raw_pills %}

      {% set processed_pills %}
        {% for pill in pills %}
          {% include "@atoms/Pill/Pill.twig" with {
            variant: 'square',
            label: pill.label,
            url: '',
          } %}
        {% endfor %}
      {% endset %}

      {% set processed_pills_list %}
        {% include "@molecules/Pills/Pills.twig" with {
          variant: 'default',
          items: [processed_pills],
        } %}
      {% endset %}
      {% set pills_array = pills_array|merge({(key): processed_pills_list }) %}
    {% endfor %}
  {% else %}
    {% set pills_array = pills_array|merge({(key): null }) %}
  {% endif %}
{% endfor %}

{% for key, pills in pills_array %}
  {% set my_array['foo']['bar'] = 'value' %}
  {% set my_array = my_array|merge({ 'foo': my_array.foo|merge({ 'bar': 'new_value' }) }) %}
{% endfor %}

{{ kint(pills_array) }}
<div>TEST</div>

<div{{ attributes.addClass(classes) }}>
  {% include "@organisms/ViewResults/ViewResults.twig" with {
    variant: 'default',
    view_name: id,
    view_display: display_id,
    header: '',
    header_sidebar: '',
    header_direction_results: 'sidebar-row',
    content_header: content_header,
    form: exposed|render,
    form_in_sidebar: true,
    list_type: 'ul',
    list_type_divider: '',
    rows: processed_rows,
    sidebar: '',
    sidebar_direction_results: 'sidebar-row',
    pager: pager|render,
    items_per_page: items_per_page,
    footer: '',
    footer_sidebar: '',
    sidebar_direction_footer: 'sidebar-row',
  } %}
</div>
