{{ attach_library("jcc_storybook/Icon") }}
{{ attach_library("jcc_storybook/Section") }}
{{ attach_library("jcc_storybook/ProfileCard") }}
{{ attach_library("jcc_storybook/ProfileCards") }}

{% set cards = [] %}
{% for key, value in profiles %}
  {% set division = key %}
  {% set cards %}
    {% for profile in value %}
      {% set image = '' %}
      {% if profile.image %}
           {% set image %}
           {% set media_uri = profile.image.field_media_image.entity.uri.value %}
           {% if profile.name is not empty %}
            {% set image_alt = profile.image.field_media_image.alt ?? "" %}
           {% endif %}
             <img src="{{ file_url(media_uri|image_style('profile_cards_portrait'))}}"  alt="{{ image_alt }}">
          {% endset %}
      {% endif %}
      {% include "@molecules/ProfileCard/ProfileCard.twig" with {
        image: image ? image|raw,
        placeholder: {
          icon: 'justice-avatar',
          icon_path: ' ',
          id: profile.name,
          title: profile.name is not empty ?'Placeholder for image of ' ~ profile.name : 'Placeholder for justice image'
        },
        name: profile.name,
        title: profile.title,
        has_section_heading: division ? true : false,
        content: profile.content,
        url: profile.url,
      } %}
    {% endfor %}
  {% endset %}

<div style="{{ not loop.first ? 'margin-block-start: var(--s5);' : '' }}">
  {% include "@organisms/ProfileCards/ProfileCards.twig" with {
    variant: 'multiple',
    heading: division != 'Unassigned' ? division : '',
    sub_component_data: [cards],
    disable_inner_box: true,
    bg_tint: 'default',
  } %}
</div>
{% endfor %}
