{#
/**
 * @file
 * Customized theme implementation for displaying a View as a table.
 */
#}

<div class="surplus-listing-view">
  <p>{{ exposed }}</p>
<br>
<br>
  {# <p> {{rows}} </p> #}

 <table>
   <thead>
    <tr>
      <th>Ref #</th>
      <th>Title</th>
      <th>Description</th>
      <th>Posted On</th>
      <th>Quantity</th>
      <th>Email</th>
      {% if  can_renew %}<th>Action
     
      </th> {% endif %}
      <th>Offered By</th>
    </tr>
  </thead> 
  <tbody>
  {% for surplus in s %}
  <tr>
    <td>{{ surplus['Ref #'] }}</td>
    <td><a href="/node/{{ surplus.nid }}">{{surplus['title']}}</a></td>
<td>{{ surplus['Description'] }}</td>

<td>{{ surplus['Posted On'] }}</td>
<td>{{ surplus['Quantity'] }}</td>
<td>{{ surplus['Email'] }}</td>
{% if  can_renew %}<td> {# user.hasPermission('renew surplus content') #}
  <a href="/node/{{ surplus.nid }}/edit" class="button button--text">Edit</a><br>
  <a href="/renew/{{ surplus.nid }}" class="button button--text">Renew</a><br>
 </td> 
{% endif %}


<td>
<a href="mailto:{{ surplus['Email'] }}">{{ surplus['Contact'] }}</a><br>
  {{ surplus['Entity'] }}<br>
  {{ surplus['Phone'] }}
</td>
    </tr>
  {% endfor %}
  </tbody>
</table> 


</div>
