{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{{ attach_library("jcc_storybook/HeroHangover") }}
{{ attach_library("jcc_storybook/ViewResults") }}
{{ attach_library("jcc_storybook/ResultExcerpt") }}
{{ attach_library("jcc_storybook/Pill") }}
{{ attach_library("jcc_storybook/Section") }}
{{ attach_library("jcc_storybook/BlurbBox") }}
{{ attach_library("jcc_storybook/Accordion") }}
{{ attach_library("jcc_elevated/search-filter-itc") }}

 {%
  set classes = [
  dom_id ? 'js-view-dom-id-' ~ dom_id,
]
%}
{% if grouped_proposals is not empty %}
 {% if not active_itc %}
  <div class="sidebar itc">{{exposed|render}}</div>
{% endif %} 


{% set accordion_items = [] %}
  {% for group in grouped_proposals %}
    {% set list_label = group.list_label %}
      {% set results %}
        {% include "@organisms/ViewResults/ViewResults.twig" with {
           variant: "default",
           no_top_margin: true,
           view_name: id,
           view_display: display_id,
           header: '',
           header_sidebar: '',
           form_in_sidebar: false,
           list_type: 'ul',
           list_type_divider: '',
           list_divider_skip_first: false,
           list_label: '',
           rows: group.items,  
           content_header: '',
           sidebar: '',
           pager: pager|render,
           items_per_page: '',
           footer: '',
           footer_sidebar: '',
           no_results_msg: empty|render,
           }
        %}
      {% endset %}  
          
      {% set accordion_items = accordion_items|merge([{
         id: "accordion-" ~ loop.index,
         label: list_label,
         content: results
      }
      ])
      %}
  {% endfor %}

  {% include "@molecules/Accordion/Accordion.twig" with {
    variant: 'default',
    open_first: false,
    open_on_load: "",
    expand_button: true,
    heading: '',
    lead: "",
    items: accordion_items
  } %}
{% else %}
  <div> {{empty|render}} </div>
{% endif %}    