{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   JavaScript.
 *
 * @see template_preprocess_views_view()
 *
 * @ingroup themeable
 */
#}
{{ attach_library("jcc_storybook/Container") }}
{{ attach_library("jcc_storybook/Stack") }}
{{ attach_library("jcc_storybook/Section") }}
{{ attach_library("jcc_storybook/HeroHangover") }}

{%
  set classes = [
  dom_id ? 'js-view-dom-id-' ~ dom_id,
]
%}

{% set page_heading %}
  {% if count and searched_term -%}
    {{ count }} {{ 'Results for '|t }} "{{ searched_term }}"
  {% elseif count and not searched_term -%}
    {{ 'Search page'|t }}
  {% elseif empty -%}
    {{ 'No search results found'|t }}
  {% endif %}
{% endset %}

{#{% if rows -%}#}
{#  {% set content = rows %}#}
{#{% elseif empty -%}#}
{#  {% set content = empty %}#}
{#{% endif %}#}

<div{{ attributes.addClass(classes) }}>

  {% include "@molecules/HeroHangover/HeroHangover.twig" with {
    brow: false,
    heading: page_heading,
    text: false,
    media: false,
    media_hide_portrait: false,
    bottom_content: false,
    background: 'base-dark-x',
  } %}

  <div class="search-page__content container stack">
    {{ title_prefix }}
    {{ title_suffix }}

    <div class="search-view__form">
      {{ exposed|without('items_per_page') }}
    </div>

    <div class="search-view__results with-sidebar" style="--sidebar-width:20ch;--sidebar-direction:row-reverse;">
      <div class="sidebar stack">{#  exposed.future_filter_items_go_here #}</div>
      <div class="stack">
        {% if rows -%}
          {{ rows }}
        {% elseif empty -%}
          {{ empty }}
        {% endif %}
      </div>
    </div>

    <div class="search-view__footer cluster">
      {{ pager }}
      {{ exposed.items_per_page }}
    </div>
  </div>
</div>
