{% set container_classes = [
  'usa-alert',
  alert.type ? 'usa-alert--' ~ alert.type : '',
  'jcc-alert',
  'margin-top-0',
  'padding-0',
  'line-height-sans-1',
]|merge(card.classes|default([''])) %}

{% set body_classes = [
  'usa-alert__body',
  'jcc-alert__body margin-y-0',
  'margin-x-auto',
  'padding-y-105',
  'padding-left-5',
  'padding-right-205',
]|merge(card.classes|default([''])) %}

{% set header_classes = [
  'usa-alert__heading',
  'jcc-alert__heading',
  'margin-bottom-0',
  'font-body-md',
  'text-bold',
]|merge(card.classes|default([''])) %}

{% set text_classes = [
  'usa-alert__text',
  'jcc-alert__text',
  'font-body-sm',
]|merge(card.classes|default([''])) %}

<div class="{{ container_classes|join(' ')|trim }}">
  <div class="{{ body_classes|join(' ')|trim }}">
    <h3 class="{{ header_classes|join(' ')|trim }}">{{ alert.heading|trim }},</h3>
    <div class="{{ text_classes|join(' ')|trim }}">{{ alert.text }}</div>
    {% if alert.button %}
      <div class="jcc-alert__action">
        {# Use 'secondary' button style, unless explicitly provided. #}
        {% set button = alert.button|merge({
          style: alert.button.style|default('secondary')
        }) %}

        {% include "@atoms/buttons/link-button.twig" with {
          link_button: button
        } only %}
      </div>
    {% endif %}
  </div>
</div>
