{% extends 'themes/custom/jcc_components/templates/node/node--document.html.twig' %}

{% block custom %}
  {% if node.field_verbose_title.value %}
    <h2>{{ content.field_verbose_title['#title'] }}</h2>
    {{ node.field_verbose_title.value }}
  {% endif %}

  {% if node.field_date.value %}
    <h2>{{ content.field_date['#title'] }}</h2>
    {{ node.field_date.value|date('l F j, Y') }}
  {% endif %}

  {% if content.field_date_range %}
    {% if node.field_case.0.entity.name %}
      <h2>{{ content.field_case['#title'] }}</h2>
      <a href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': node.field_case.0.entity.tid.value}) }}">
        {{ node.field_case.0.entity.name.value }}
      </a>
    {% else %}
      <h2>{{ content.field_date_range['#title'] }}</h2>
    {% endif %}

    <p>
      {% if endDate|date('Ymd') > startDate|date('Ymd') %}
        {{ startDate|date('l F j, Y') }}
        to {{ endDate|date('l F j, Y') }}
      {% else %}
        {{ startDate|date('l F j, Y') }}
      {% endif %}
    </p>
  {% endif %}
{% endblock %}

{% block section %}
  {% include '@molecules/section/section.twig' with {
    section: {
      background: 'alt',
      container: 'container',
      content: body
    }
  } %}
{% endblock %}
