{#
/**
 * @file
 * Default theme implementation to display a one-column layout.
 *
 * Available variables:
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{#{{ attach_library("jcc_storybook/List") }}#}
{#{% if content %}#}
{#  {% set classes = ['layout', 'layout--onecol', 'list__container'] %}#}
{#  {{ content.field_rule_section_label }}#}
{#  <ul{{ attributes.addClass(classes) }}>#}
{#    {% for k, item in content.field_rule_subsection_content if k|first != "#" %}#}
{#      <li {{ region_attributes.content.addClass('layout__region', 'layout__region--content', 'list__item') }}>#}
{#        {{ item }}#}
{#      </li>#}
{#    {% endfor %}#}
{#  </ul>#}
{#{% endif %}#}

{% set classes = [
  'layout',
  'layout--onecol',
  'rule-section--container'
] %}
{% if content %}
  {% if is_admin or is_edit %}
  <div{{ attributes.addClass(classes) }}>
    <div {{ region_attributes.content.addClass('layout__region', 'layout__region--content', 'rule-section') }}>
      {% endif %}

        {{ content.content }}

      {% if is_admin or is_edit %}
    </div>
  </div>
  {% endif %}
{% endif %}

