{{ attach_library('colorbox/colorbox') }}
{{ attach_library('colorbox/init') }}
{{ attach_library('colorbox/example4') }}


<div class="jcc-card">
  <div class="jcc-card__body">
    <h3 class="jcc-card__title">Media</h3>
  </div>
</div>

{% for image in images['#items'] %}
  {% if image.entity.field_media_image.entity.uri.value %}
    {% set image_id = image.entity.field_media_image.entity.fid.value %}
    {% set image_url = file_url(image.entity.field_media_image.entity.uri.value) %}
    {% set image_alt = image.entity.field_media_image.alt %}

    {% if image_url %}
      <a href="{{ image_url }}" class="colorbox cboxElement" data-colorbox-gallery="gallery-beforeafter">
        <img src="{{ image_url }}">
      </a>
    {% endif %}
  {% endif %}
{% endfor %}
