{% set organization = content.field_location.0["organization"]["#value"] %}
{% set address_line1 = content.field_location.0["address_line1"]["#value"] %}
{% set address_line2 = content.field_location.0["address_line2"]["#value"] %}
{% set city = content.field_location.0["locality"]["#value"] %}
{% set state = content.field_location.0["administrative_area"]["#value"] %}
{% set postal_code = content.field_location.0["postal_code"]["#value"] %}
{% set country = content.field_location.0["country"]["#value"] %}

{% set excerpt %}
  {% if content.field_geolocation[0] %}
    {{ content.field_geolocation.0 }}
  {% endif %}

  <div class="address">
    <h4 class="organization">
      {{ organization }}
    </h4>
    <p class="address-line1">
      {{ address_line1 }}
    </p>
    {% if address_line2 %}
      <p class="address-line2">
        {{ address_line2 }}
      </p>
    {% endif %}
    <p class="city-state-postal_code">
      <span class="city">
        {{ city }}
      </span>
      <span class="state">
        {{ state }}
      </span>
      <span class="postal-code">
        {{ postal_code }}
      </span>
    </p>
    <p class="country">
      {{ country }}
    </p>
  </div>

  {% set directions_query %}
    {{- address_line1 ~ " " ~ city ~ " " ~ state ~ " " ~ postal_code -}}
  {% endset %}
  {% include "@jcc_base/_includes/directions-button.html.twig" with {
    directions_query: directions_query,
    aria_label: 'Get directions to the ' ~ node.title.value ~ ' event',
  } only %}
{% endset %}

{% include '@molecules/blocks/card/card.twig' with {
  card: {
    title: content.field_location["#title"],
    excerpt: excerpt,
  }
} only %}
