{% if metadata %}
  {% set meta %}
    {% for key, items in metadata %}
      <div class="{{ key }} relevance">
        <div>{{ key|replace({'_': ' '})|title }}</div>
        {% for item in items %}
          {% if item.url %}
            <a href="{{ item.url }}" aria-label="{{ item.aria_label }}">{{ item.text }}</a>{% if not loop.last %}, {% endif %}
          {% else %}
            {{ item.text }}{% if not loop.last %}, {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
  {% endset %}

  {% include '@molecules/blocks/card/card.twig' with {
    card: {
      title: 'Relevance',
      excerpt: meta,
    }
  } only %}
{% endif %}
