{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{% include '@organisms/sections/cards-with-button/cards-with-button.twig' with {
  cards_with_button: block_title
} %}

<div class="twitterfeed">
  <a class="twitter-timeline" data-lang="en" data-width="{{ twitter_settings.width }}" data-height="{{ twitter_settings.height }}" href="{{ twitter_settings.feed_embed_url }}" data-chrome="{{ twitter_settings.embed_parameters }}">{{ title }}</a>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>



