{# Masthead variant setting from or inherited from landing page #}
{% set variant = node.field_masthead_color.value|default('masthead') %}
{% if parent_masthead_color %}
  {% set variant = parent_masthead_color %}
{% endif %}

{# Granicus #}
{% if livecast is not empty %}
  {% set body %}
    <div class="granicus">
      <div class="granicus__details">
        <span class="granicus__status">{{ livecast.status }}</span>
        <strong>{{ livecast.title }}</strong>
        <span class="granicus__start_time">
          {{ livecast.time }}
        </span>
      </div>
      {% if livecast.status == 'live' or livecast.status == 'starting soon' %}
        <div class="granicus__actions">
          <a class="jcc-button--inverse" href="{{ livecast.url }}" arial_label="View {{ livecast.date }} {{ livecast.title }}">
            Watch live broadcast
          </a>
          <p class="granicus__captioning">{{ livecast.captioning }}</p>
        </div>
      {% endif %}
    </div>
  {% endset %}
{% endif %}

{% include '@organisms/global/header.twig' with {
  header: {
    variant: variant,
    nav_children: {
      indicator: 'circle-solid',
    },
    skip: {
      text: 'Skip to main content.'|t,
      url: '#main-content',
    },
    hat: hat,
    logo: {
      title: site_name.second,
      svg: logo.url,
      lead: 'The State\'s Highest Court',
    },
    links: main_links,
    translate: translate,
    search_action: '/search',
    body: body,
    media: {
      src: file_url(node.field_media.entity.field_media_image.entity.uri.value),
      alt: node.field_media.entity.field_media_image.alt,
    }
  }
} %}

