{#
/**
 * @file
 * Theme override to display a media item.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 * - publication: Preprocessed Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}

{{ attach_library("jcc_storybook/Brow") }}
{{ attach_library("jcc_storybook/HeroHangover") }}
{{ attach_library("jcc_storybook/Section") }}
{{ attach_library("jcc_storybook/List") }}
{{ attach_library("jcc_storybook/AssetBundle") }}
{{ attach_library("jcc_storybook/Button") }}
{{ attach_library("jcc_storybook/Icon") }}
{{ attach_library("jcc_storybook/Pill") }}
{{ attach_library("jcc_storybook/Pills") }}

{% if publication.details  %}
  {% set details %}
    <div class="container">
    {% set items = [] %}
    {% for key,value in publication.details %}
      {% if value is not empty %}
        {% set item = {
          label: key,
          text: value,
        } %}
        {% set items = items|merge([item]) %}
      {% endif %}
    {% endfor %}
    {% if items %}
      {% include "@molecules/List/List.twig" with {
        variant: 'none',
        items: items,
      } %}
    {% endif %}

    {% if publication.topics %}
      {% set pills %}
        {% for topic in publication.topics %}
          {% include "@atoms/Pill/Pill.twig" with {
            variant: 'default',
            label: topic.label,
          } %}
        {% endfor %}
      {% endset %}
      {% include "@molecules/Pills/Pills.twig" with {
        variant: 'default',
        items: [pills],
      } %}
    {% endif %}
    </div>
  {% endset %}
{% endif %}

{% set asset %}
  {% if publication.languages %}
    {% set translations = [] %}
    {% for language in publication.languages %}
      {% set link %}<a href="{{ language.url }}" aria-label="{{ language.aria_label }}">{{ language.label }}</a> ({{ language.label_en }}){% endset %}
      {% set language = {
        text: link|raw,
      } %}
      {% set translations = translations|merge([language]) %}
    {% endfor %}
    {% set languages = {
      variant: "ul",
      layout: "grid",
      items: translations,
    } %}
  {% endif %}

  {% include "@molecules/AssetBundle/AssetBundle.twig" with {
    text: publication.body|render,
    primary_file_type: publication.primary_file_type,
    doc_type: publication.type,
    assets: publication.documents,
    languages: languages,
  } %}
{% endset %}

{% include "@molecules/HeroHangover/HeroHangover.twig" with {
  background: 'striped-base-light-xx',
  heading: name,
  media: false,
  brow: {
    variant: 'default',
    part_one: publication.category,
    part_two: publication.date,
  },
  attributes: create_attribute()
} %}

{% include "@organisms/Section/Section.twig" with {
  variant: 'default',
  sub_component_layout: 'with-sidebar',
  sidebar_direction: 'row',
  sidebar_width: 39,
  gap: 's4',
  sub_component_data: {
    details,
    asset,
  },
  attributes: create_attribute()
} %}
