{% set cases %}
  {% for item in items %}
    <h2>{{ item[0].case.name }}</h2>
    {% if item[0].case.description %}
      {{ item[0].case.description|raw }}
    {% endif %}
    <ol>
      {% for doc in item %}
        <li>
          <a href="{{ doc.url }}" aria-label="View or download document {{ doc.title }}">{{ doc.title }}</a>
          Filed on {{ doc.filing_date }}
        </li>
      {% endfor %}
    </ol>
  {% endfor %}
{% endset %}

{% include "@molecules/section/section.twig" with {
  section: {
    spacing: 'top',
    content: cases,
    background: 'default',
  }
} %}
