{{ attach_library('jcc_elevated/colorboxAccessibility') }}

{%
  set title_classes = [
  label_display == 'visually_hidden' ? 'visually-hidden',
]
%}

{% if label_hidden %}
  {% if multiple %}
    <div{{ attributes }}>
      {% for item in items %}
        {{ item.content }}
      {% endfor %}
    </div>
  {% else %}
    {% for item in items %}
      {% set custom_content = item.content %}
      {% set attr = custom_content['#attributes'] %}
      {% set attr = attr|merge({'tabindex': '0'}) %}
      {% set custom_content = custom_content|merge({'#attributes': attr}) %}
      {{ custom_content }}
    {% endfor %}
  {% endif %}
{% else %}
  <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
  {% if multiple %}
  <div>
    {% endif %}
    {% for item in items %}
      {{ item.content }}
    {% endfor %}
    {% if multiple %}
  </div>
  {% endif %}
{% endif %}
