{{ attach_library("jcc_storybook/Alert") }}
{{ attach_library("jcc_storybook/Icon") }}
{{ attach_library("jcc_elevated/granicus-events") }}

{% if livecast is not empty %}
  {% set content %}
    <div class="granicus cluster" style="justify-content:space-between;">
      <div class="granicus__content cluster">
        <div class="granicus__status">
          <div class="status">
            {{ livecast.status }}
          </div>
        </div>
        <div>
          <div class="granicus__heading">
            <strong>{{ livecast.title }}</strong>
            <span class="notation granicus__time">{{ livecast.time }} PST</span>
          </div>
          <div class="granicus__text">
            {{ livecast.promotional }}
          </div>
        </div>
      </div>
      {% if livecast.status == 'live' %}
        <div class="granicus__actions">
          <a class="button button--secondary" href="{{ livecast.url }}" arial_label="View {{ livecast.date }} {{ livecast.title }}">
            Watch live broadcast
          </a>
          <p class="granicus__captioning">{{ livecast.captioning }}</p>
        </div>
      {% endif %}
    </div>
  {% endset %}

  {% include "@molecules/Alert/Alert.twig" with {
    type: 'status',
    dismissible: false,
    content: [content],
    icon_path: false,
  } %}
{% endif %}
