{{ attach_library("jcc_storybook/Accordion") }}
{{ attach_library("jcc_storybook/Container") }}
{{ attach_library("jcc_storybook/Stack") }}

{% set classes = [
  'paragraph',
  'paragraph__steps',
  'box'
] %}

<div class="{{ classes|join(" ") }}">
  <div class="container stack">

    {% if content.field_lead or content.field_heading %}
      <div class="section__header stack">
        {% if content.field_heading|render %}
          <h2>{{ content.field_heading }}</h2>
        {% endif %}
        {% if content.field_lead|render %}
          {{ content.field_lead }}
        {% endif %}
      </div>
    {% endif %}

    {% include "@molecules/Accordion/Accordion.twig" with {
      open_first: content.field_toggle.0.value|default(false),
      items: steps,
    } %}

  </div>
</div>
