{{ attach_library("jcc_storybook/Container") }}
{{ attach_library("jcc_storybook/Stack") }}

{% set classes = [
  'paragraph',
  'paragraph__iframe',
  'box'
] %}

<div class="{{ classes|join(" ") }}">
  <div class="container stack">
    <iframe src="{{ iframe_url }}" title="{{ iframe_title }}" style="height: 100%; width: 100%; aspect-ratio: {{ iframe_aspect_ratio }}"></iframe>
  </div>
</div>
